//*** Layout: Container ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: 'Container';

/* ### #{$_module-name} START */

.container {
  position: relative;
  width: 100%;

  &--full-width {
    @extend .container;
    margin-inline: calc(-50% + 50vw);
  }

  &--boxed, &--narrow {
    @extend .container;
    margin-inline: auto;
    padding-inline: max(3.125%, .75rem);
    
  }

  &--boxed {
    max-width: var.$max-content-width;
  }

  &--narrow {
    max-width: calc(var.$max-content-width * .8);
  }
}

/* ### #{$_module-name} END
/* ------------------------------------------------------------ */