//*** Utilities Accessibility Helpers ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

$_module-name: 'Accessibility helpers';

/* ### #{$_module-name} START */

// Visually hide content while keeping it accessible to screen readers
.visually-hidden {
  z-index: -1 !important;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}


// Reduced motion
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  // Remove transition and animation duration
  *, *::before, *::after {
    animation: none !important;
    transition: none !important;
    
    // Or if you need specific durations without conflicts
    &[style*="transition"] {
      transition-duration: 0.01ms !important;
    }
    &[style*="animation"] {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
    }
    
    scroll-behavior: auto !important;
  }
}

// High contrast mode utilities
@media (forced-colors: active) {
  // ...
}

/* ### #{$_module-name} END
/* ------------------------------------------------------------ */