//*** Utilities Spacing ***//

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

@use 'sass:math';

$_module-name: 'Spacing custom properties & utility classes';

/* ### #{$_module-name} START */

:root {
  // Gap Sizes
  @include mx.fluid-spacing-var(
    $prefix: 'gap', 
    $vwx: true, 
    $method: 'clamp'
  );

  // Section Vertical spacing
  @include mx.fluid-spacing-var(
    $prefix: 'gap', 
    $vwx: true, 
    $method: 'clamp',
    $custom-weights: ('section': 4),
    $size-multiplier: 3
  );
}

/* ### #{$_module-name} END
/* ------------------------------------------------------------ */