//*** Pages: Result ***//
//* Description of the module's purpose

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;



.result {
  padding: 2em 0;

  &__content{
    margin: 0 auto;
    max-width: calc(var(--fs-300) * 4 + 70ch);
    padding: calc(var(--fs-300) * 2);
    background-color: var(--background-accent);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: calc(var(--fs-300) * .75);

    @include mx.for-breakpoint('tablet-up') {
      padding: calc(var(--fs-300) * 4);
    }
  }


  &__title {
    width: 100%;
    font-size: var(--fs-600);
    line-height: 1.15;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.25em;
  }

  & .row {
    display: flex;
    justify-content: center;
    align-items: baseline;
    column-gap: 1em;

    &:not(:last-child) {
      margin-bottom: 3em;
    }
  }

  &__label {
    font-size: var(--fs-400);
  }

  &__data {
    font-size: var(--fs-500);
    font-weight: 700;
  }

  &__data > span {
    font-size: var(--fs-500);
    font-weight: 700;
  }

  &__data-text {
    font-size: var(--fs-400);
    font-weight: 400;
  }

  & details {
    margin: 0 auto;
    max-width: calc(var(--fs-300) * 4 + 60ch);
    margin-top: 3em;

  }

  &__buttons {
    max-width: calc(var(--fs-300) * 4 + 60ch);
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--fs-300);
  }

  &__button {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center; 
    font-family: inherit;
    background-color: var(--button-background);
    color: var(--button-text);
    font-size: var(--fs-300); 
    border: 0;
    border-radius: calc(var(--fs-300) * .75);
    padding: calc(var(--fs-300) * 1) calc(var(--fs-300) * 3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    &:hover{
    background-color: var(--button-background-hover);
    }
  }
}
