//*** Themes: Color styles ***//
//* Description of the module's purpose

@use '../abstracts/variables' as var;
@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mx;

:root {
  //---------- Theme Colors ----------//
  --background-color: #bcebe5; //#FFFBE7;
  --background-accent: #feffeb; //#FFFFDB;

  --text-color: #115f6b;
  --link-color: #a31860;
  --link-color-hover: #c94a1c;

  --button-background: #2e7c88; //#115F6B;
  --button-background-hover: #c83a84; //#A31860;
  --button-text: #feffeb; //#FAFAFA;

  //---------- INFO Colors ----------//
  --valid-border: #4caf50;
  --valid-background: #e6f3e6;
  --valid-text: #2e7c32;

  --danger-border: #f44336;
  --danger-background: #ffebee;
  --danger-text: #cf2d2d;

  --info-border: #007cf7;
  --info-background: #e6f2ff;
  --info-text: #0056b3;
}

.dark-theme {
  //---------- Theme Colors ----------//
  --background-color: #002c37;
  --background-accent: #115f6b;

  --text-color: #feffeb; //#FFFFDB;
  --link-color: #ff8fc9;
  --link-color-hover: #f27300;

  --button-background: #2e7c88;
  --button-background-hover: #c83a84;
  --button-text: #feffeb; //#FAFAFA;

  //---------- INFO Colors ----------//
  --valid-border: #2ade8a;
  --valid-background: #063a20;
  --valid-text: #29d685;

  --danger-border: #ff5649;
  --danger-background: #4d0c0c;
  --danger-text: #ff5649;

  --info-border: #4da6ff;
  --info-background: #0c2c4d;
  --info-text: #4da6ff;
}
