//*** Self hosted theme fonts ***//

// Example
@font-face {
  font-family: 'Poppins';
  src:
    local(''),
    url('/fonts/poppins-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  size-adjust: 100%;
}

@font-face {
  font-family: 'Poppins';
  src:
    local(''),
    url('/fonts/poppins-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  size-adjust: 100%;
}
